/.settings
/.classpath
/.project
/target
*.orig
server.xml
setenv.sh
shutdown.sh
startup.sh
shutdown
startup
INSTALL
env.sh
log4j.properties
service.conf
artifact.info
*/bin/*
/bin
*.iml
/.idea/*
/.idea
.springBeans
