<h1>Files List</h1>

<div class="row">
    <div class="span6" ng-controller="DriveCtrl">
        <div class="control-group">
            <li ng-repeat="item in items">
                <a ng-href="{{item.selfLink}}" target="_blank">
                    <p>{{item.title}}</p>
                </a>
            </li>
            <li ng-repeat="file in files">
                <a ng-href="{{file.selfLink}}" target="_blank">
                    <p>{{file.title}}</p>
                </a>
            </li>
        </div>
    </div>
</div>